body {
    background-color: rgb(113, 219, 108);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color: white;
  }

  h3 {
    color: white;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color :rgb(156, 23, 14)
  }